*, *:after, *:before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background-color: #FFC005;
}

body {
    width: 100vw;
    font-family:'helvetica neue';
    font-family: 20px;
}


.container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    max-width: 400px;
}

input {
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
    border: 8px solid #F8F5F7;
    border-radius: 5px;
    font-size: 2rem;
    position: relative;
    left: -2rem;
    font-weight: 600;
    z-index: 2;
    box-shadow: inset 0 0 2px rgba(0,0,0,.12), 0 0 2px rgba(0,0,0,.19);

}
input:focus {
    outline: none;
}

input::placeholder {
    font-weight: 300;
    
}

.suggestions {
    margin: 0;
    padding: 0;
}

.suggestions li {
    list-style: none;
    background-color:#FBFAFB;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between;
}

.suggestions li:nth-child(odd){
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions li:nth-child(even){
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.yellow {
    background-color: #FFC005;
}